.app{
 height:700px;
 width:470px;
 background-color: rgb(35, 34, 34);
 border-color: brown;
 margin-left:480px;
 margin-top:60px;
 border-radius: 10px;
}

.userinput{
    width:453px;
    height:105px;
    background-color: rgb(53, 52, 52);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border: none;
    color:white;
    font-weight:20px;
    font-size:45px;
    font-family: Roboto;
    padding-left:15px;
}

.userinp{
    width:493.5px;
    height:110px;
    border:none;
}
.userinp:active{
    border:none;
}

.buttongrid{
    display:grid;
    grid-template-columns: 110px 110px 110px 110px;
    
}

.icon{
    height:90px;
    width:90px;
    margin-left: 22px;
    margin-top:25px;
    border-radius: 50%;
    background-color: rgb(110, 109, 109);
    border:none;
    color:white;
    font-weight:bolder;
    font-family: Roboto;
    font-size:35px;
    
}

.iconsp{
    height:90px;
    width:90px;
    margin-left: 22px;
    margin-top:25px;
    border-radius: 50%;
    background-color: rgb(241, 145, 35);
    border:none;
    color:white;
    font-weight:bolder;
    font-family: Roboto;
    font-size:40px;
    
}

.icon:hover{
    cursor: pointer;
}
.iconsp:hover{
    cursor: pointer;
}
body{
    height:2000px;
}